body {
    background: #282323;
    color: #ffffff;
    margin: 0px;
}

.row {
	height: 40px;
    margin: 0px;
	border-color: #747474;
	border-bottom-style: solid;
	background-color: #4c4c4c;
}
.inrow {
	
	padding: 3;
	margin-left: 10;
	border-color: #443d3d;
	border-width: 2px;
	border-style: solid;
	background: #2c2a2a;
	color: #ffffff;
	position: relative;
	top: 10px;
}

.inrow#shopButton:hover {
    background: #505050;
    border-color: #746767;
}

.inrow#shopButton:active {
    background: #181717;
    border-color: #343030;
}

.window {
    position: absolute;
    top: 43px;
    width: -webkit-fill-available;
}

.inwindow#shopc {
    margin: auto;
    margin-top: 15px;
    max-width: 500;
    position: relative;
    background: #4a4949;
    border-style: solid;
    border-color: #343434;
}

.button {
	border-color: #443d3d;
	border-width: 2px;
	border-style: solid;
	background: #2c2a2a;
	color: #ffffff;
}
.button:hover {
    background: #505050;
    border-color: #746767;
}

.button:active {
    background: #181717;
    border-color: #343030;
}

.item {
    margin: 10;
	margin-bottom: 20;
    border-style: solid;
    border-color: #5e5b5b;
    padding: 5;
    background: #646262;
}

.inv {
	max-width: 200px;
    padding-top: 15px;
    padding-left: 15px;
    border-width: 0px;
    border-bottom-width: 3px;
    border-right-width: 3;
    border-style: solid;
    background-color: #363636;
    border-color: #2c2a2a;
}

.invi {
	margin: 10px;
	margin-top: 7px;
	margin-bottom: 3px;
	padding: 3px;
	border-width: 3px;
	border-style: solid;
    background: #5a4e4e;
    border-color: #423d3d;
}
.gamec {
    padding: 15px;
    border-width: 0px;
    border-left-width: 3px;
    border-style: solid;
    background-color: #403d3d;
    border-color: #302e2e;
    position: absolute;
    top: 0px;
    left: 215px;
    max-width: 651px;
    width: -webkit-fill-available;
}

.profile {
    padding: 15px;
    border-width: 3px;
    border-style: solid;
    background-color: #665f5f;
    border-color: #504d4d;
    max-width: 220px;
    width: 220px;
    margin-top: 5px;
}

progress[value]#expb.inrow::-webkit-progress-value {
  background-color: lightblue
}
